.input-container.higher-input input {
    width: 100%;
    height: 30px;
    line-height: 20px; /* Adjust the line height as needed for multiple rows */
    padding: 10px;
    /* padding-left: 10px; */
    margin-bottom: 15px;
    border: 5px solid #ffffff;
    border-radius: 50px;
    background-color: transparent; /* Set to transparent */
    outline: none; /* Remove default input focus outline */
    color: white; /* Set text color to white */
    transition: 0.5s;
    margin-bottom: 15px; /* Add margin-bottom for spacing */
  }
  
  .input-container.higher-input textarea {
    width: 100%;
    height: 30px;
    line-height: 20px; /* Adjust the line height as needed for multiple rows */
    padding: 10px;
    /* padding-left: 10px; */
    margin-bottom: 15px;
    border: 5px solid #ffffff;
    border-radius: 50px;
    background-color: transparent; /* Set to transparent */
    outline: none; /* Remove default input focus outline */
    color: white; /* Set text color to white */
    transition: 0.5s;
    margin-bottom: 15px; /* Add margin-bottom for spacing */
  }

  .input-field:focus {
    border: 5px solid white;
  }
  
  .input-container input[type='text'] {
    padding-left: 60px;
  }
  .input-container input[type='number'] {
    padding-left: 60px;
  }

  .icon {
    position: absolute;
    left: 0;
    top: 0;
    width: 60px;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #757575;
    font-size: 1.5em;
  }
  .input-container:focus ~ .icon {
    color: rgb(255, 255, 255);
  }